*{/******mettre en tete pour retier le style deja prédefini****************/
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/********debut fonts********/
@font-face {
    font-family: 'neo';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DolceLight';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url('../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/***********fin fonts****************/
/**********************debut header*****************************/
header {
    height: 70px;
    display: flex;/*********permet a l'image et la nav d etre l'une a coter de l autre**********/
    justify-content: space-between;/********repartition a gauche et a droite des éléments et bord à bord du header**************/
}
header img{
    height: 50px;/******taille image******/
    margin: 10px;/*****marge*****/
}
header nav {
display: flex;
align-items: end;
}

header nav ul {
    height: 30px;
    display: flex;/*****liste l une  a coter de l autre******/
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    
}
header nav ul li{
    margin: 0 10px;
    text-transform: uppercase;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: rgb(26, 24, 24);
    font-family: 'neo';
    margin: 10px;
    transition: 0.5s;
    
}
header nav ul li a:hover {
    border-bottom: 8px solid black; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
/********fin du header***********/
main {
    height: calc(100vh - 70px);/********on enléve la hauteur du header à la hauteur de l'ecran*****************************/
    background: url(../img/fond3.jpg)center bottom fixed;/*******ajoute l'image en de section********/
    background-size: cover;/*******************************/
    display: flex;
    justify-content: center;/**********va centrer le h1 + la div et les autres section*******************/
    align-items: center;
}
/********************debut section********************/
section {
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Dolce';
    
}
section h1{
    font-size: 80px;
}
section a{
    color: black;/*****couleur du lien*************/
    padding: 15px 30px;/**************ajoute une marge interne de 15px en haut et en bas et 30px à gauche et à droite******************************/
    background: white;/*fond de couleur*/
    font-family: "dolce";/*change le font*/
    letter-spacing: 1px;/*espace les lettres*/
    text-decoration: none;/**enlève le soulignement*/
    transition: 0.5s;/*va mettre un effet du changment sur hover*/
}
section a:hover{
    background: black;/*change la couleur de fond A*/
    color: white;/*CHANGE LA COULEUR DU TEXTE au survol*/
}
section h1::first-line{
    font-family: 'DolceLight';
}
/******************************pages********************************************
********************************************************************************/
section>div{
    display: flex;/******permet de mettre les 3 div les unes à cote de l'autre******/

}
section>div div{
    width: 150px;/*largeur des 3 petites div*/
    height: 150px;/*heuteurdes 3 petites div*/
    margin: 50px;/*eloigne les 3 div les unes des autres*/
    border: 2px solid white;/*bordure blanche sur les 3 div*/
}
/******rotation********/
#rot>div div:first-of-type{
    transform: rotate(45deg);/*creer une rotation sur la premiere div des l'ouverture de la page*/
}
#rot>div div:nth-of-type(2):hover{/*au survol sa tourne (hover) */
    transform: rotate(45deg);/*creer une rotation sur la 2 div au survol*/
}
#rot>div div:nth-of-type(3):hover{
   transition: 0.5s; /********ajoute l effet sur la rotation*******/
}
#rot>div div:nth-of-type(3):hover{
    transform: rotate(45deg);/*rotation sur 3 div au survol*/
}

/************************zoom*************//**de 0 à 1 = reduction, au dessus de 1= agrandissement**/
#zom>div div:first-of-type{
    transform: scale (1.2);/*augmente la taille du 1 div */
}
#zom>div div:nth-of-type(2):hover{/*au survol sa se reduit(hover)*/
    transform: scale(0.8);/**reduire la taille 2 div*/
}
#zom>div div:nth-of-type(3):hover{
   transition: 0.5s; /********ajoute l effet sur la rotation*******/
}
#zom>div div:nth-of-type(3):hover{
    transform: scale(0.3);/*reduit la taille du 3 div */
}
/**********************déplacement**************************/
#dep>div div:first-of-type{
    transform: translate(30px 45px) ;/*incline la 1 div sur l'axe x(horizontalement)et y(verticalment)**/
}
#dep>div div:nth-of-type(2):hover{/*au survol sa se deplace*/
    transform: translate(30px );
}
#dep>div div:nth-of-type(3):hover{
   transition: 0.5s; /********ajoute l effet sur le deplacement*******/
}
#dep>div div:nth-of-type(3):hover{
    transform: translate(30px);
}
/**************************inclinaison******************************/
#incl>div div:first-of-type{
    transform: skewX(15deg);
}
#incl>div div:nth-of-type(2):hover{
    transform:skewX(15deg) skewY(0deg) ;
}
#incldiv div:nth-of-type(3):hover{
   transition: 0.5s; /********ajoute l effet sur la rotation*******/
}
#incl>div div:nth-of-type(3):hover{
    transform: skewX(15deg) skewY(15deg);
}
/************************origine************************/
#origin>div div:first-of-type{
    transform-origin: top left;
    transform: rotate(45deg);
}
#origin>div div:nth-of-type(2):hover{
    transform-origin: top right;
    transform: rotate(15deg);

}
#origin>div div:nth-of-type(3):hover{
   transition: 0.5s; /********ajoute l effet sur la rotation*******/
}
#origin>div div:nth-of-type(3):hover{
   transform-origin: bottom center ;
   transform: rotate(45deg);
}