*{/******mettre en tete pour retier le style deja prédefini****************/
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/********debut fonts********/
@font-face {
    font-family: 'neo';
    src: url('../fonts/');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
        url('../fonts/NEOTERIC-Bold.woff2') format('woff2'),
        url('../fonts/NEOTERIC-Bold.woff') format('woff'),
        url('../fonts/NEOTERIC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DolceLight';
    src: url('../fonts/DolceVitaLight.eot');
    src: url('../fonts/DolceVitaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVitaLight.woff2') format('woff2'),
        url('../fonts/DolceVitaLight.woff') format('woff'),
        url('../fonts/DolceVitaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dolce';
    src: url('../fonts/DolceVita.eot');
    src: url('../fonts/DolceVita.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DolceVita.woff2') format('woff2'),
        url('../fonts/DolceVita.woff') format('woff'),
        url('../fonts/DolceVita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/***********fin fonts****************/
/**********************debut header*****************************/
header {
    height: 70px;
    display: flex;/*********permet a l'image et la nav d etre l'une a coter de l autre**********/
    justify-content: space-between;/********repartition a gauche et a droite des éléments et bord à bord du header**************/
}
header img{
    height: 50px;/******taille image******/
    margin: 10px;/*****marge*****/
}
header nav {
display: flex;
align-items: end;
}

header nav ul {
    height: 30px;
    display: flex;/*****liste l une  a coter de l autre******/
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    
}
header nav ul li{
    margin: 0 10px;
    text-transform: uppercase;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: rgb(26, 24, 24);
    font-family: 'neo';
    margin: 10px;
    transition: 0.5s;
    
}
header nav ul li a:hover {
    border-bottom: 8px solid black; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
/********fin du header***********/
main {
    height: calc(100vh - 70px);
    background: url(../img/fond3.jpg)center bottom fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/********************debut section********************/
section {
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Dolce';
    
}
section h1::first-line{
    font-family: 'DolceLight';
}
